@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
table { border-collapse: collapse; width: 100%; }
ol,ul { list-style: none; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; }
img { vertical-align: top; }
a { text-decoration:none; color:#000; }
caption { display: none; }
address,em { font-style: normal; }


/* 공통사항 */
body { font-family: 'Noto Sans KR', sans-serif; font-size: 100%; line-height: 1.6; color: #000; }
#wrap { min-width: 1200px; overflow-x: hidden; background: url('../images/main_bg.png') no-repeat center top; }
.inner { width: 1200px; margin: 0 auto; }


/* header */
#header { border-bottom: 1px solid rgba(255,255,255,0.2); }
#header h1 { text-align: center; padding: 30px 0 20px; }
#header h1 a { color: #fff; }


#header .gnb { display: flex; justify-content: center; border-top: 1px solid rgba(255,255,255,0.2); }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display:block; font-size:18px; font-weight:500; text-align:center; padding:20px 50px; color: #fff; }
#header .gnb > li:hover > a { color:#ffce32; }

#header .gnb > li .depth2 { display:none; padding:15px 0; background:#1053a5; position: absolute; left: 50%; transform: translateX(-50%); width: 180px; }
#header .gnb > li:hover .depth2 { display:block; }

#header .gnb > li .depth2 li a { transition:color 0.5s; display:block; font-size:14px; padding:3px 0; text-align:center; color:#FFF; }
#header .gnb > li .depth2 li a:hover { color:#ffce32; }


/* main_banner */
#main_visual { text-align: center; color: #fff; }
#main_visual h2 { padding: 50px 0 0; }
#main_visual .mv_img { width: 100%; border-radius: 0 0 200px 0; box-shadow: 10px 10px 30px rgba(0,0,0,0.3); }


section h2 { font-size:60px; font-weight: 300; text-align: center; }
section h2 span { font-weight: 700; }
section h2 + p { font-size: 18px; text-align: center; opacity: 0.4; padding: 0 0 50px; }


/* menu */
#course { padding:150px 0 200px; }
#course .inner { position: relative; }

@keyframes fire {
    0% { transform: scale(0,0); }
    30% { transform: scale(0,0); }
    80% { transform: scale(1,1); }
    100% { transform: scale(1,1); }
}
#course .fire1 { animation: fire 2s infinite; position: absolute; left: 170px; top: 60px; }
#course .fire2 { animation: fire 2s infinite; position: absolute; right: 110px; top: 30px; }
#course .fire3 { animation: fire 2s infinite 1s; position: absolute; right: 300px; top: 0; }

#course ul { display: flex; gap: 30px; align-items: flex-start; }
#course ul li { overflow: hidden; transition:all 0.5s; width:calc((100% - 90px)/4); text-align:center; border-radius: 30px; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); }
#course ul li:nth-child(odd) { margin-top: 30px; }
#course ul li img { width: 100%; }
#course ul li:hover { transform: translate(0,-10px); }
#course ul li a { transition: all 0.5s; display: inline-block; background: #ecf3fb; color: #1053a5; padding: 5px 40px; border-radius: 30px; margin-bottom: 40px; font-size: 12px; }
#course ul li a:hover { background: #1053a5; color: #fff; }
#course ul dl dt { font-size:20px; font-weight:700; padding: 20px 0 0; }
#course ul dl dd { color:#999; padding:20px 0; }




/* guide */
#tour { position: relative; background: #3ca479 url('../images/tour_bg.png') no-repeat center 0; padding:100px 0; color: #fff; }

@keyframes jump {
    0% { transform: translateY(0); }
    30% { transform: translateY(0); }
    70% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}
#tour .tour_left { position: absolute; left: 0; top: -150px; }
#tour .jump1 { animation: jump 2s infinite; position: absolute; left: 430px; top: 40px; }
#tour .jump2 { animation: jump 2s infinite 0.5s; position: absolute; left: 500px; top: -20px; }

@keyframes shake {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}
#tour .tour_right { position: absolute; right: 0; top: -250px; }
#tour .shake1 { animation: shake 2s infinite; position: absolute; right: 20px; top: 200px; }
#tour .shake2 { animation: shake 2s infinite 1s; position: absolute; right: 0; top: 180px; }

#tour .inner { display: flex; box-shadow: 5px 5px 20px rgba(0,0,0,0.2); border-radius:30px 0; overflow: hidden; }
#tour .inner div { width: calc(100%/3); transition: all 0.5s; }
#tour .tour1 { background:#cf9820 url('../images/tour1_bg.png') no-repeat 80% 50%; padding: 50px; }
#tour .tour2 { background:#008ce5 url('../images/tour2_bg.png') no-repeat 90% 50%; padding:50px; }
#tour .tour3 { background:#06bfcb url('../images/tour3_bg.png') no-repeat 90% 50%; padding:50px; }
#tour h3 { font-size:24px; }
#tour h3 + p { padding: 10px 0 50px; }
#tour .btn { transition:all 0.3s; display:inline-block; padding:10px 40px; border-radius:30px; color:#FFF; background: rgba(0,0,0,0.2); }
#tour .btn:hover { background: rgba(0,0,0,1); }
#tour .tour1 .btn { transition:all 0.3s; display:block; padding:10px 40px; border-radius:30px; color:#FFF; background: #bc6c05; text-align: center; }
#tour .tour1 .btn:hover { background: rgba(0,0,0,1); }


/* footer */
#footer { background:#3ca479 url('../images/footer_bg.png') no-repeat center 0; padding: 150px 0 80px; }
#footer .inner { display: flex; justify-content: space-between; }

#footer .footer_link { display: flex; gap: 20px; }
#footer .footer_link li a { color:rgba(255,255,255,0.5); }
#footer .footer_txt { color:rgba(255,255,255,0.5); font-size: 14px; line-height: 1.8; }



.gotop { position: fixed; right: 100px; bottom: 100px; }

